@charset "utf-8" ;
body{
    font-size:14px;
    font-family: Verdana, sans-serif;
}

.hidden {
    display: none;
}

.dialog .dialog_close {
    border: 1px solid #0c0c0c;
    background: rgba(2, 248, 104, 0.808);
    cursor: pointer;
    width: 100px;
}
.dialog .dialog_submit{
    border: 1px solid #0c0c0c;
    background: rgba(0, 121, 151, 0.808);
    cursor: pointer;
    width: 100px;
}

#open, #close {
    cursor: pointer;
    width: 200px;
    border: 1px solid #0c0c0c;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin: 15px auto 0;
  }
  #mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  #modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0,7s;
    z-index: 2;
  }

  #modal.validate {
    border : 2px;
    background: rgb(143, 14, 14);
  }
  
  #modal p {
    line-height: 1.5;
    margin: 0 0 20px;
  }

  #mask.hidden{
    display: none; 
  }
  #modal.hidden {
    transform: translate(0, -500px);
  }

  .table #coloring td{
    background: #4d4d4d;
  }

  .table  tr:nth-child(even){
    background: #f1f1f1;
  }
  .table th{
    background: #91d2f3
  }
  table tr:hover {
    background-color: #cdeaf8;  /* マウスオーバー時の行の背景色 */
    }
  .table {
    table-layout:fixed;
    margin: 0px;   /* 外側の余白をゼロに */
    padding: 0px;  /* 内側の余白をゼロに */
    border: 20px solid 1px #0c0c0c; /* 枠線を指定(太さ30pxの実線で黄緑色) */
    font-size: 80%;
    word-wrap: break-word 
    /* border-collapse: collapse; */
  }
  .form-inline{
    position: relative;
    width: 80%;
    margin: 0 auto;
    width: 1000px;
    padding: 50px;  /* 内側の余白をゼロに */
    text-align: center;
    background-color: #e5e5e5;
  }
  .form-inline h2{
    position: relative;
    left:175px;
  }
  .form-group{
    margin: 50px;   /* 外側の余白をゼロに */
    padding: 0px;  /* 内側の余白をゼロに */
  }
  .outer{
    margin: 50px;   /* 外側の余白をゼロに */
    padding: 0px;  /* 内側の余白をゼロに */
    text-align: center;
  }

  .pagination{
    margin: 50px;   /* 外側の余白をゼロに */
    padding: 0px;  /* 内側の余白をゼロに */
  }

  .refresh{
    position:relative;
    top:135px;
    margin: 50px;   /* 外側の余白をゼロに */
    padding: 0px; 
  }

  .export{
    position:relative;
    top:338px;
    left: 95px; 
    z-index: 2;

  }

